@import "./../../../styles/variables.scss";

.table {
  color: $font-color-contrast;

  > div {
    overflow: hidden;

    &:nth-child(2) {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }

    > div {
      padding: $margin-xs;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:not(.table__teamname) {
        min-width: 35px;
        max-width: 51px;
        text-align: right;
      }
    }
  }

  &__head,
  &__standing {
    display: flex;
  }

  &__head {
    color: $font-color-light;
  }

  &__standing {
    background: $color-light-accent;

    &--advancing {
      background: $color;
    }
  }

  &__teamname {
    flex: 1;
    overflow: hidden;
  }
}
