<div class="table">
  <div class="table__head">
    <div class="table__teamname text-l">{{ title }}</div>
    <div>W</div>
    <div>D</div>
    <div>L</div>
    <div class="transparancy-semi">GF</div>
    <div class="transparancy-semi">GA</div>
    <div class="padding-r-xxs transparancy-semi">GD</div>
    <div class="text-c">Pts</div>
  </div>
  <div
    *ngFor="let standing of standings"
    class="table__standing"
    [ngClass]="{ 'table__standing--advancing': standing.isAdvancing }"
  >
    <div class="padding-r-xxs">{{ standing.position }}.</div>
    <div class="table__teamname text-l">{{ standing.team.name }}</div>
    <div>{{ standing.wins }}</div>
    <div>{{ standing.draws }}</div>
    <div>{{ standing.losses }}</div>
    <div class="transparancy-semi">{{ standing.goalsScored }}</div>
    <div class="transparancy-semi">{{ standing.goalsConceived }}</div>
    <div class="padding-r-xxs transparancy-semi">
      {{ standing.goalDifference }}
    </div>
    <div class="text-c accent">{{ getDisplayPoints(standing.points) }}</div>
  </div>
</div>
