@import "./../../../styles/variables.scss";

.teams {
  overflow: hidden;
  margin: $margin-xs 0;
  border-radius: $radius;

  > div {
    padding: $margin-xs;
    color: $font-color-contrast;
    background: $color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
