@import "./variables.scss";

body {
  margin: 0;
  font-family: $font;
  font-weight: 600;
  font-size: 20px;
  background: $color-bg;
  background-image: $gradient-bg;
  background-attachment: fixed;
  box-sizing: border-box;
}

table {
  tr {
    margin: $margin-s 0;
  }
  th,
  td {
    padding: $margin-xs;
  }
  td {
    border-top: $margin-xxxs solid $color-bg;
    border-bottom: $margin-xxxs solid $color-bg;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.accent {
  background: $color-accent;
  color: $font-color-light;
}

.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}

.padding-r-xxs {
  padding-right: $margin-xxs;
}

.transparancy-light {
  opacity: 0.85;
}

.transparancy-semi {
  opacity: 0.67;
}
