$margin: 30px;
$margin-s: $margin / 2;
$margin-xs: $margin / 3;
$margin-xxs: $margin / 6;
$margin-xxxs: 3px;

$radius: 6px;

$font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;
$font-color: #009ce9;
$font-color-contrast: #202e35;
$font-color-light: #fff;

$color: #fff;
$color-light-accent: rgba(255, 255, 255, 0.5);
$color-accent: #202e35;
$color-bg: #009ce9;
$gradient-bg: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
