<div class="competition">
  <div class="head">
    <h1>{{ title }}</h1>
    <div class="nav">
      <button (click)="home()" type="button">Home</button>
      <button (click)="zoomIn()" type="button">+ Zoom</button>
      <button (click)="zoomOut()" type="button">- Zoom</button>
    </div>
    <div *ngIf="!isSingleCompetition" class="nav">
      <button
        (click)="changeActiveCompetition(i)"
        *ngFor="
          let competitionSettings of leagueSystem.competitionSettingsArray;
          index as i
        "
        type="button"
      >
        {{ competitionSettings.name }}
      </button>
    </div>
    <h3 *ngIf="!isSingleCompetition">{{ competitionSettings.name }}</h3>
  </div>
  <app-display
    *ngIf="competitionData"
    [competitionData]="competitionData"
    [style.zoom]="zoomLevel"
    class="display"
  ></app-display>
</div>
