@import "./../../../styles/variables.scss";

.competition {
  margin: $margin;
}

.head {
  margin: $margin 0;
}

h1 {
  margin: 0;
  text-decoration: underline;
}

.nav {
  button {
    border: 0;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.display {
  transition: 0.25s zoom ease-out;
}
