.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  select,
  input {
    min-width: 300px;
  }

  button {
    min-width: 200px;
  }
}
