<form [formGroup]="formGroup" class="home">
  <h1>Competition Designer</h1>
  <p>Design, Visualize, Analyse</p>
  <div>
    <select formControlName="selectedCompetition">
      <option *ngFor="let competition of competitions" [value]="competition.id">
        {{ competition.name }}
      </option>
    </select>
    <button (click)="openCompetition()" type="button">Open competition</button>
  </div>
  <div>
    <select formControlName="selectedLeagueSystem">
      <option
        *ngFor="let leagueSystem of leagueSystems"
        [value]="leagueSystem.id"
      >
        {{ leagueSystem.name }}
      </option>
    </select>
    <button (click)="openLeagueSystem()" type="button">
      Open league system
    </button>
  </div>
  <div>
    <button (click)="createCompetition()" type="button">
      Create new competition
    </button>
  </div>
</form>
