<div class="knockout">
  <div *ngFor="let match of schedule; index as i">
    <div *ngIf="i === 0" class="knockout__names">
      <div
        class="knockout__name"
        [ngClass]="{ 'knockout__name--advancing': isAdvancing[0] }"
      >
        {{ match.teams[0].name }}
      </div>
      <div
        class="knockout__name"
        [ngClass]="{ 'knockout__name--advancing': isAdvancing[1] }"
      >
        {{ match.teams[1].name }}
      </div>
    </div>
    <div class="knockout__scores">
      <div
        class="knockout__score accent"
        [ngClass]="{ 'transparancy-light': i % 2 === 0 }"
      >
        {{
          isDecidedDuringRegularTime(match) || hasTieBrakeTypePenalties(match)
            ? match.result[0]
            : match.extraTimeResult[0]
        }}<small *ngIf="hasWonDuringExtraTime(match, 0)">E</small
        ><small *ngIf="hasWonDuringPenalties(match, 0)">P</small>
      </div>
      <div
        class="knockout__score accent"
        [ngClass]="{ 'transparancy-light': i % 2 === 0 }"
      >
        {{
          isDecidedDuringRegularTime(match) || hasTieBrakeTypePenalties(match)
            ? match.result[1]
            : match.extraTimeResult[1]
        }}<small *ngIf="hasWonDuringExtraTime(match, 1)">E</small
        ><small *ngIf="hasWonDuringPenalties(match, 1)">P</small>
      </div>
    </div>
  </div>
</div>
