@import "./../../../styles/variables.scss";

.knockout {
  display: flex;
  overflow: hidden;
  margin: $margin-xs 0;
  border-radius: $radius;

  > div {
    display: flex;
    color: $font-color-contrast;

    &:first-child {
      flex: 1;
    }
  }

  &__name,
  &__score {
    padding: $margin-xs;
    &:first-child {
      margin: 0;
    }
  }

  &__names {
    flex: 1;
  }

  &__name {
    padding-right: $margin-xs;
    background: $color-light-accent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &--advancing {
      background: $color;
    }
  }

  > div:nth-child(even) .knockout__scores {
    display: flex;
    flex-direction: column-reverse;
  }

  &__score {
    width: 29px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }
}
