<div class="display__container">
  <div *ngFor="let stage of competitionData" class="display">
    <h3>{{ getStageName(stage) }}</h3>
    <div class="display__groups-container">
      <div *ngIf="stage.skippingTeams?.length">
        Advancing
        <app-teams [teams]="stage.skippingTeams"></app-teams>
      </div>
      <!-- TODO: make ko stages height independent from group stages height -->
      <ng-container *ngIf="isKnockoutStage(stage); else table">
        <ng-container *ngFor="let schedule of stage.schedule; index as i">
          <div>
            {{ getSubStageName(stage, i, stage.schedule.length, true) }}
            <app-knockout
              [schedule]="schedule"
              [standings]="stage.standings[i]"
            ></app-knockout>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #table>
        <ng-container *ngFor="let standings of stage.standings; index as i">
          <app-table
            *ngIf="standings && !isSubLeagueThatCanBeIgnored(stage, i)"
            [title]="getSubStageName(stage, i, stage.standings.length, false)"
            [standings]="standings"
            [pointRoundingStrategy]="stage.pointRoundingStrategy"
          ></app-table>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
