@import "./../../styles/variables.scss";

.display {
  margin: 0 $margin;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &__container {
    display: flex;
  }

  &__groups-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
}
